
.meme-me {
	display: inline-block;
	align-items: center;
	margin-left: 25%;
	
}
.meme-me input {
	width: 100%;
	
}
li {
	display: inline-block;
	text-align: center;
	position: relative;
	
}
h1 {
	font-family: Impact, 'Arial', sans-serif;
	font-size: 50px;
	display: block;
	text-align: center;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	color: white;
}
body {
	background-color: #FEC8D8;
}

image {
	width: 30%;
}
.top{
	position: absolute;
	top: 0;
	font-family: Impact, 'Arial', sans-serif;
	font-size: 300%;
	left: 30%;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	color: white;
    text-align: center;
}
.bottom{
	position: absolute;
	bottom: 0;
	font-family: Impact, 'Arial', sans-serif;
	left: 30%;
	font-size: 300%;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	color: white;
    text-align: center;
	
}

.memesAll {
	position: relative;
}

